{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
  {{ content | safe }}
{% endset %}

{# Post list content #}
{% set postListHeading = postsHeading %}
{% set membershipDuesText = membershipDues %}
{% set postListItems = collections.postFeed %}

{# Archive link #}
{% if postListItems.length < collections.posts.length %} 
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/archive' %}
{% endif %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    <section>
      <!--<h2 class="ta-center pool-open hide confetti" style="padding: 0.5em 0; position: relative;">🎉 The Pool is OPEN! 🎉</h2>-->
      <h2 class="ta-center pool-will-open">Pool Opens In</h2>
      <div id="countdown"></div>
    </section>
    
    <section class="[ post-list ] [ pad-top-700 pad-bottom-300 ]">
      <div class="[ inner-wrapper ] [ sf-flow ]">
        <h2>Member Information Form</h2>
        <p>All members are required to complete a member information form prior to the pool opening on May 27. <i><u>Starting Opening Day, your family will not be 
        given access to the pool until the membership form is submitted.</u></i></p>
        <p>Please fill out the 2026 Membership Information Form and email it to <a href="mailto:beechwoodswimclubky@gmail.com">beechwoodswimclubky@gmail.com</a>. The form can be found by clicking <a href="https://beechwoodswimclub.us18.list-manage.com/track/click?u=d2234782ae340940dd72dad5c&id=cc4eff24e8&e=c702d2f988">here</a>.</p>
      </div>    
    </section>
    
    <section class="[ inner-wrapper ] [ sf-flow ]" style="background: navy; padding: 2em; margin: 1.5em auto;">
      <p style="color: #fff;">For people seeking for Beechwood Swim Club membership, we have started a new email address specifically related to our waitlist and membership inquiries. 
      It is: <a style="color: #fff;" href="mailto:waitlist.beechwoodswimclub@gmail.com">waitlist.beechwoodswimclub@gmail.com</a></p>
      <p style="color: #fff;">If you have already inquired in the past, you do *not* have send one to the new address. The waitlist / bond / rental inquiries 
      were simply overwhelming our club email address, so we needed to separate them out. </p>
    </section>
    <section class="[ inner-wrapper ] [ sf-flow ]">
      <img style="" src="/images/bsc-summer-jobs.jpg">
      <h2 class="ta-center">Join our team!</h2>
      <h3>Open Interviews</h3>
      <p><b>When?</b> Sunday, Feb 25th & Sunday, March 10th</p>
      <p><b>Time?</b> 1:30 - 2:30pm</p>
      <p><b>Where?</b> Erlanger Library in the Charlotte Room</p>
      <p><b>Positions available</b></p>
      <p>
        <ul style="list-style-position: inside;">
          <li>Front Desk (14+)</li>
          <li>Snack Shack (14+)</li>
          <li>Maintenance (14+)</li>
          <li>Lifeguards (15+ years old)</li>
          <li>Cooks (18+ years old)</li>
        </ul>
      </p>
      <p><b>Questions?</b> Email <a href="mailto:beechwoodswimclubmanager@gmail.com">beechwoodswimclubmanager@gmail.com</a></p>
      <p><img style="width: 125px;" src="/images/beechwood-swim-club_scan-qr-code.jpg"><br/><b>Scan and apply</b></p>
      <p class="ta-center"><a style="color: #fff; background-color: navy; font-size: 1.5em; padding: 10px 20px; text-decoration: none; border: 1px solid navy;" href="https://forms.office.com/pages/responsepage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAEWV0wyuD9UNk4zQzE0SFc2V0w3U0ZCMFIyRlNLMkRTNS4u"><b>Apply Now</b></a></p>
    </section> 
    
    {% include "partials/components/membership.njk" %}
    
    <section class="[ post-list ] [ pad-top-700 pad-bottom-300 ]">
      <div class="[ inner-wrapper ] [ sf-flow ]">
        <h2>Shelter Rental</h2>
        <p>Starting May 9 at 8am, you are able to reserve the Pool Shelter on the lower deck and the Shelter area on the upper deck by the Diving Boards. There is a $40 rental fee for the Lower Deck Shelter.  There will not be a charge if you reserve the Upper Deck Shelter.  There are two sessions for rental (11:00-3:30) and (4:00-9:00).  You can only reserve one of the sessions per day.</p>
      </div>    
    </section>
        
    <section class="[ post-list ] [ pad-top-700 pad-bottom-300 ]">
      <div class="[ inner-wrapper ] [ sf-flow ]">
        <h2>Bond Transfers</h2>
        <p>Our treasurer, Stephanie Bogenschutz, will be at the swim club on the following dates and times to sign bonds over to new members:</p>
        <p>
          <ul>
            <li>5/10/23 from 5:00 – 6:00 pm</li>
            <li>5/12/23 from 4:00 – 5:30 pm</li>
            <li>5/27/23 from 11:00 am – 12:00 pm</li>
          </ul>
        </p>
        
        <p><strong><u>There is a $50 transfer fee that must be paid to Stephanie at the time you want your bond signed over to you.</u></strong></p>
        
        <p>You can find information about the swim club, such as our bylaws, on our 
        <a href="https://beechwoodswimclub.us18.list-manage.com/track/click?u=d2234782ae340940dd72dad5c&id=9c3f5b098d&e=c702d2f988">website</a>. Going 
        forward, the most current information such as closures due to weather and things of that nature are posted on our 
        <a href="https://beechwoodswimclub.us18.list-manage.com/track/click?u=d2234782ae340940dd72dad5c&id=84c6927ff3&e=c702d2f988">Facebook page</a>. Follow 
        us there to stay up to speed. We look forward to seeing you in a few short weeks!</p>
      </div>    
    </section>
    
    <div class="poolservices">
      {% include "partials/components/post-list.njk" %}
    </div>
    {% include "partials/components/pagination.njk" %}
  </main>
{% endblock %}
