{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
  {{ content | safe }}
{% endset %}

{# Post list content #}
{% set postListHeading = postsHeading %}
{% set membershipDuesText = membershipDues %}
{% set postListItems = collections.postFeed %}

{# Archive link #}
{% if postListItems.length < collections.posts.length %} 
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/archive' %}
{% endif %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    <section>
      <!--<h2 class="ta-center pool-open hide confetti" style="padding: 0.5em 0; position: relative;">🎉 The Pool is OPEN! 🎉</h2>-->
      <h2 class="ta-center pool-will-open">Pool Opens In</h2>
      <div id="countdown"></div>
    </section>

    <section class="[ post-list ] [ pad-top-700 pad-bottom-300 ]">
      <div class="[ inner-wrapper ] [ sf-flow ]">
        <p style="text-align: center;"><strong>2026 Beechwood Swim Club Member Letter</strong></p>
        <p><span style="text-decoration: underline;">2026 Beechwood Swim Club Board of Directors</span></p>
        <table border="1" style="border-collapse: collapse; width: 100%;">
          <colgroup>
            <col style="width: 50%;">
            <col style="width: 50%;">
          </colgroup>
          <tbody>
            <tr>
              <td>Stephanie Bogenschutz, President</td>
              <td>John Piccirillo, Vice President</td>
            </tr>
            <tr>
              <td>Eric Mooney, Treasurer</td>
              <td>Laurie Bauer, Secretary</td>
            </tr>
            <tr>
              <td>Josh Colvin, Director</td>
              <td>Jeremy Lee, Director</td>
            </tr>
            <tr>
              <td>Stephanie Eby, Director</td>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <p><span style="text-decoration: underline;"><strong>News from the Board of Directors</strong></span><br>Summer is just around the corner, and our pre-season preparations are officially underway. We can&rsquo;t wait for the 2026 pool season to arrive!</p>
        <p>The Board of Directors is pleased to welcome our newest board member, Jeremy Lee. Jeremy and his family have been members of the club since they moved back to Ft. Mitchell in 2018. He is excited to serve in this new role. We would also like to extend our sincere thanks to Cheryl Ralph for her three years of dedicated service on the Board. We truly appreciate all she has contributed to our club.</p>
        <p>Over the past several years, we have made significant investments to maintain the pool, deck, and facilities. For 2026, the Board has committed to continuing to make improvements to the Club. Our main focus is the pool and the pump room. We will continue to make investments that will help our pool last for years to come. You may have heard of other pools starting to see issues with their pool and older equipment. We have taken pride in our proactive approach to prevent major issues. We feel confident with the proactive repairs we have made over the winter season, that we are set for a successful summer.</p>
        <p><span style="text-decoration: underline;"><strong>2026 Membership Dues</strong></span><br>After careful review and thoughtful discussion, the Board approved a 5% increase to membership dues for 2026 to help cover rising operational and maintenance expenses.</p>
        <p>All dues listed below include applicable taxes.</p>
        <ul>
          <li><strong>Family Membershiop - $550</strong>
            <ul>
              <li>Option 1: Owner, spouse, and dependent children age 25 or younger who reside in the household.</li>
              <li>Option 2: Owner &amp; two (2) permanent guest passes</li>
            </ul>
          </li>
          <li><strong>Senior Membership - $450</strong>
            <ul>
              <li>Primary bondholder must be sixty-five (65) years or older. Options are the same as family membership listed above.</li>
            </ul>
          </li>
          <li style="font-weight: bold;"><strong>Single Membership - $400</strong></li>
          <li style="font-weight: bold;"><strong>Family Rental Membership - $742</strong></li>
          <li style="font-weight: bold;"><strong>Single Rental Membership - $530</strong></li>
          <li><strong>Babysitter - $110</strong>
            <ul>
              <li>Up to two (2) designated babysitters may be added per account. Babysitter passes may only be used when one or more dependent children are present and neither parent is in attendance.</li>
            </ul>
          </li>
        </ul>
        <p><span style="text-decoration: underline;"><strong>Payment Methods</strong></span><br>We no longer accept checks by mail. Members who prefer to pay by check may do so in person only on the following dates and times:</p>
        <ul>
          <li><strong>Ft. Mitchell City Building</strong>
            <ul>
              <li>March 4: 5:00&ndash;7:00 PM</li>
              <li>March 11: 5:00&ndash;7:00 PM</li>
            </ul>
          </li>
          <li><strong>Beechwood Swim Club</strong>
            <ul>
              <li>April 15: 5:00&ndash;7:00 PM</li>
            </ul>
          </li>
        </ul>
        <p><em><span style="text-decoration: underline;"><strong>Making payments through Member Splash will be available starting on February 20th.</strong></span></em></p>
        <p><span style="text-decoration: underline;"><strong>Payment Deadlines</strong></span><br><strong>March 15, 2026:</strong> Members who submit payment on or before this date will receive five (5) complimentary guest passes added to their account. Guest passes are valid for the 2026 season.</p>
        <p><strong>April 15, 2026:</strong> Payment must be received on or before this date to avoid a late fee.</p>
        <p><strong>After April 15, 2026: A $150 late fee</strong> will be applied to all payments received after April 15th. Accounts assessed a late fee will remain <strong>inactive until the balance, including the late fee, is paid in full</strong>.</p>
        <p><strong>Please note</strong> that guest passes will now expire at the end of each pool season. This policy applies to guest passes purchased during the current season as well as any unused guest passes from previous seasons. All existing guest passes, either purchased this season or in previous seasons, will remain valid through the end of the 2026 pool season.</p>
        <p><span style="text-decoration: underline;"><strong>Inactive Membership Option</strong></span><br>Due to the ongoing spike in membership interest, it is important that we know how many members plan to be inactive in the 2026 season.</p>
        <ul>
          <li>Members who wish to be inactive must notify the board in writing by May 15, 2026. The inactive fee will be $420.</li>
          <li>To keep the account in good standing, the inactive fee must be paid by June 15, 2026.</li>
          <li>Failure to notify the board of an intent to be inactive will subject you to the full membership dues for the season.</li>
          <li>Failure to pay the inactive fee by June 15, 2026, will result in the club purchasing your bond from you at the original bond value. There is no exception to this.</li>
        </ul>
        <p><span style="text-decoration: underline;"><strong>New Members &ndash; Bond Transfers</strong></span><br>For our new members who have purchased bonds since last season, your bond must be formally transferred before your account is active. If you need to transfer bonds, Eric Mooney will be available to meet you at the pool on the following days:</p>
        <p><strong>May 7:</strong> 5:30&ndash;6:30 PM<br><strong>May 14:</strong> 5:30&ndash;6:30 PM</p>
        <p><span style="text-decoration: underline;"><strong>Member Key Tags</strong></span><br>For entry into the pool, each member must present their pool key tag at check-in. Every individual entering the pool must have their own tag. Lost or missing tags may be replaced for $5 per tag; replacement tags are nonrefundable. We ask that you locate your tags prior to the start of the pool season. If you need new tags made please email us so we can have them ready for you prior to opening day. Thank you for helping us keep check-in running smoothly.</p>
        <p><span style="text-decoration: underline;"><strong>Member Communication Throughout the Season</strong></span><br>As we prepare for the 2026 season, the Board remains committed to keeping members well informed. To ensure timely and widespread communication, updates will be shared across multiple platforms, including email, the pool website, and the pool&rsquo;s Facebook page.</p>
        <p>Important documents such as the bylaws and the annual member letter will always be posted on the website. Members are encouraged to regularly check their email, the website, and Facebook to stay informed about club updates and upcoming events.</p>
        <p><span style="text-decoration: underline;"><strong>Job Fair</strong></span><br>We had a fantastic turnout at our previous job fairs! Our next job fair will be held at the <strong>Kenton County Erlanger Library on March 8th from 2:00&ndash;3:00 PM</strong>. Please see the attached flyer for additional details. We are currently hiring for <strong>all positions</strong>.</p>
        <p><strong><span style="text-decoration: underline;">August Lifeguarding Help Needed</span></strong><br>A special thank you to our members Jeanne Wissman, Kristi Snyder, and Barb Erardii for generously stepping in to lifeguard and manage last August. Because of their availability, we were the only club able to maintain full operating hours after the school year began. We are incredibly grateful for their support.</p>
        <p>We will be asking for similar assistance again this coming year to help prevent reduced hours once school resumes in August. To keep the pool open, we are seeking adult members who are willing to obtain lifeguard certification and volunteer their time.</p>
        <ul>
          <li>Volunteers must commit to two (2) shifts per week (12:00&ndash;4:00 PM) for two consecutive weeks</li>
          <li>Coverage is needed Monday&ndash;Friday beginning in mid-August</li>
          <li>We are seeking up to five (5) volunteers, with two lifeguards needed per day</li>
        </ul>
        <p>A lifeguard certification class will be held at the pool for those who commit to volunteering. Please note that volunteers will also be required to attend additional training on Beechwood Swim Club emergency protocols.</p>
        <p>Thank you for your continued support in helping us keep the pool fully open for our members.</p>
        <p>If you are interested, please contact us at <a href="mailto:beechwoodswimclubky@gmail.com">beechwoodswimclubky@gmail.com</a>.</p>
        <p><span style="text-decoration: underline;"><strong>Questions / Comments</strong></span><br>As always, if you have any questions or feedback, please don&rsquo;t hesitate to reach out to us at <a href="mailto:beechwoodswimclubky@gmail.com">beechwoodswimclubky@gmail.com</a>. Thank you! Be sure to mark your calendar for Opening Day on Saturday, May 23 at 11:00 AM! We can&rsquo;t wait to welcome you back for another great summer!</p>
        <p>Sincerely,<br>Beechwood Board of Directors</p>
      </div>
    </section>
    
    <section class="[ post-list ] [ pad-top-700 pad-bottom-300 ]">
      <div class="[ inner-wrapper ] [ sf-flow ]">
        <h2>Member Information Form</h2>
        <p>All members are required to complete a member information form prior to the pool opening on May 27. <i><u>Starting Opening Day, your family will not be 
        given access to the pool until the membership form is submitted.</u></i></p>
        <p>Please fill out the 2026 Membership Information Form and email it to <a href="mailto:beechwoodswimclubky@gmail.com">beechwoodswimclubky@gmail.com</a>. The form can be found by clicking <a href="https://beechwoodswimclub.us18.list-manage.com/track/click?u=d2234782ae340940dd72dad5c&id=cc4eff24e8&e=c702d2f988">here</a>.</p>
      </div>    
    </section>
    
    <section class="[ inner-wrapper ] [ sf-flow ]" style="background: navy; padding: 2em; margin: 1.5em auto;">
      <p style="color: #fff;">For people seeking for Beechwood Swim Club membership, we have started a new email address specifically related to our waitlist and membership inquiries. 
      It is: <a style="color: #fff;" href="mailto:waitlist.beechwoodswimclub@gmail.com">waitlist.beechwoodswimclub@gmail.com</a></p>
      <p style="color: #fff;">If you have already inquired in the past, you do *not* have send one to the new address. The waitlist / bond / rental inquiries 
      were simply overwhelming our club email address, so we needed to separate them out. </p>
    </section>
    <section class="[ inner-wrapper ] [ sf-flow ]">
      <img style="" src="/images/bsc-summer-jobs.jpg">
      <h2 class="ta-center">Join our team!</h2>
      <h3>Open Interviews</h3>
      <p><b>When?</b> Sunday, Feb 25th & Sunday, March 10th</p>
      <p><b>Time?</b> 1:30 - 2:30pm</p>
      <p><b>Where?</b> Erlanger Library in the Charlotte Room</p>
      <p><b>Positions available</b></p>
      <p>
        <ul style="list-style-position: inside;">
          <li>Front Desk (14+)</li>
          <li>Snack Shack (14+)</li>
          <li>Maintenance (14+)</li>
          <li>Lifeguards (15+ years old)</li>
          <li>Cooks (18+ years old)</li>
        </ul>
      </p>
      <p><b>Questions?</b> Email <a href="mailto:beechwoodswimclubmanager@gmail.com">beechwoodswimclubmanager@gmail.com</a></p>
      <p><img style="width: 125px;" src="/images/beechwood-swim-club_scan-qr-code.jpg"><br/><b>Scan and apply</b></p>
      <p class="ta-center"><a style="color: #fff; background-color: navy; font-size: 1.5em; padding: 10px 20px; text-decoration: none; border: 1px solid navy;" href="https://forms.office.com/pages/responsepage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAEWV0wyuD9UNk4zQzE0SFc2V0w3U0ZCMFIyRlNLMkRTNS4u"><b>Apply Now</b></a></p>
    </section> 
    
    {% include "partials/components/membership.njk" %}
    
    <section class="[ post-list ] [ pad-top-700 pad-bottom-300 ]">
      <div class="[ inner-wrapper ] [ sf-flow ]">
        <h2>Shelter Rental</h2>
        <p>Starting May 9 at 8am, you are able to reserve the Pool Shelter on the lower deck and the Shelter area on the upper deck by the Diving Boards. There is a $40 rental fee for the Lower Deck Shelter.  There will not be a charge if you reserve the Upper Deck Shelter.  There are two sessions for rental (11:00-3:30) and (4:00-9:00).  You can only reserve one of the sessions per day.</p>
      </div>    
    </section>
        
    <section class="[ post-list ] [ pad-top-700 pad-bottom-300 ]">
      <div class="[ inner-wrapper ] [ sf-flow ]">
        <h2>Bond Transfers</h2>
        <p>Our treasurer, Stephanie Bogenschutz, will be at the swim club on the following dates and times to sign bonds over to new members:</p>
        <p>
          <ul>
            <li>5/10/23 from 5:00 – 6:00 pm</li>
            <li>5/12/23 from 4:00 – 5:30 pm</li>
            <li>5/27/23 from 11:00 am – 12:00 pm</li>
          </ul>
        </p>
        
        <p><strong><u>There is a $50 transfer fee that must be paid to Stephanie at the time you want your bond signed over to you.</u></strong></p>
        
        <p>You can find information about the swim club, such as our bylaws, on our 
        <a href="https://beechwoodswimclub.us18.list-manage.com/track/click?u=d2234782ae340940dd72dad5c&id=9c3f5b098d&e=c702d2f988">website</a>. Going 
        forward, the most current information such as closures due to weather and things of that nature are posted on our 
        <a href="https://beechwoodswimclub.us18.list-manage.com/track/click?u=d2234782ae340940dd72dad5c&id=84c6927ff3&e=c702d2f988">Facebook page</a>. Follow 
        us there to stay up to speed. We look forward to seeing you in a few short weeks!</p>
      </div>    
    </section>
    
    <div class="poolservices">
      {% include "partials/components/post-list.njk" %}
    </div>
    {% include "partials/components/pagination.njk" %}
  </main>
{% endblock %}
